In [6]:
import data_mod
# 한 번 로드한 모듈은 리로드가 되지 않는다. (일반적으로)

In [16]:
# 한 번 로드한 모듈을 강제적으로 리로드하려면
# 1. 열려있는 창을 닫고 다시 실행
# 2. importlib 라이브러리를 이용하여 모듈을 강제적으로 로드
import importlib
importlib.reload(data_mod)

In [17]:
# 전역변수를 생성하는 함수
df=data_mod.data_load('../csv/num_3')

campaign_master key 생성
class_master key 생성
customer_master key 생성
use_log key 생성

In [18]:
df['campaign_master']

  campaign_id campaign_name
0         CA1          2_일반
1         CA2     0_입회비반액할인
2         CA3       1_입회비무료