In [1]:
# 라이브러리 설치
!pip install pandas

Requirement already satisfied: pandas in c:\users\dong_\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\dong_\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dong_\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dong_\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dong_\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\dong_\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
# 라이브러리 로드
# import 라이브러리명 as 별칭
import pandas as pd
# form 라이브러리명 import 
# 라이브러리 안에 특정 기능 as 별칭

In [3]:
# 판다스에서 제공하는 1차원 데이터형태인 Serise 데이터(Class) 생성
series1=pd.Series(
    [5000,6000,6500,6500]
)
print(series1)

0    5000
1    6000
2    6500
3    6500
dtype: int64

In [4]:
# Serise 라는 Class에는 적어도 2개의 변수가 존재
# values, index 변수
print("Serise Class에서 values라는 변수는", series1.values)
print("Serise Class에서 index라는 변수는", series1.index)

Serise Class에서 values라는 변수는 [5000 6000 6500 6500]
Serise Class에서 index라는 변수는 RangeIndex(start=0, stop=4, step=1)

In [5]:
series2=pd.Series(
    [500,500,1000,1200]
)

In [6]:
# Series 간의 합
# 같은 인덱스를 가진 values 끼리 더해진다.
series1+series2

0    5500
1    6500
2    7500
3    7700
dtype: int64

In [8]:
a=[1,2,3,4]
b=[5,6,7,8]
print(a+b)

[1, 2, 3, 4, 5, 6, 7, 8]

In [9]:
series3=pd.Series([100,200,300], index=[1,2,3])
series3

1    100
2    200
3    300
dtype: int64

In [10]:
print(series1+series3)

0       NaN
1    6100.0
2    6700.0
3    6800.0
dtype: float64

In [11]:
# Series 생성할 때 index를 지정
# 주의할 점: 데이터(values)의 개수와 인덱스 개수는 같아야 한다.
series4=pd.Series(
    [5000,6000,6500,6500],
    index=["아메리카노","카페라떼","카페모카","카푸치노"]
)

In [12]:
series4

아메리카노    5000
카페라떼     6000
카페모카     6500
카푸치노     6500
dtype: int64

In [13]:
# 기존의 Series 데이터에서 index를 변경
# Class 안에 있는 변수의 데이터를 변경
series1.index=["아메리카노","카페라떼","카페모카","카푸치노"]

In [14]:
series1

아메리카노    5000
카페라떼     6000
카페모카     6500
카푸치노     6500
dtype: int64

In [15]:
# Series Class 안에 있는 rename 함수를 이용
series2.rename(
    {
        0:'A',
        1:"B",
        2:"C",
        3:"D"
    }, inplace=True
)
# inplace=True 유무 (기본 False)에 따라 실행/출력 사항이 다름

In [16]:
series2

A     500
B     500
C    1000
D    1200
dtype: int64

In [17]:
series2.index=["A","b","C","D"]

In [18]:
series2

A     500
b     500
C    1000
D    1200
dtype: int64

In [19]:
series2.rename(
    {
        "b":"B"
    }, inplace=True
)

In [20]:
series2

A     500
B     500
C    1000
D    1200
dtype: int64

In [21]:
# 2차원 데이터 형태인 DataFrame(Class) 생성
values1=[
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
df=pd.DataFrame(values1)

In [22]:
print(df)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [23]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [24]:
print("DataFrame에서 index라는 변수", df.index)
print("DataFrame에서 columns라는 변수", df.columns)
print("DataFrame에서 values라는 변수", df.values)

DataFrame에서 index라는 변수 RangeIndex(start=0, stop=3, step=1)
DataFrame에서 columns라는 변수 RangeIndex(start=0, stop=3, step=1)
DataFrame에서 values라는 변수 [[1 2 3]
 [4 5 6]
 [7 8 9]]

In [25]:
# DataFrame에서 컬럼의 이름을 변경
df.columns=["A","B","C"]

In [26]:
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [27]:
# axis 매개변수: 인덱스, 컬럼 중에 선택
# "rows" | 0 -> 행(인덱스)를 기준으로 선택
# "columns" | 1 ->열(컬럼)을 기준으로 선택
df.rename(
    {
        "A":"a"
    }, axis=1
)

   a  B  C
0  1  2  3
1  4  5  6
2  7  8  9

#### Dict 데이터를 이용하여 DataFrame을 생성

In [28]:
data1={
    "name":["test","test2",'test3'],
    "age":[20,30,40]
}
df2=pd.DataFrame(data1)

In [29]:
df2

    name  age
0   test   20
1  test2   30
2  test3   40

In [54]:
data2=[
    {
        "name":"test",
        "age":20,
    },
    {
        "name":"test2",
        "age":30,
    },
    {
        "name":"test3",
        "age":40
    }
]
df3=pd.DataFrame(data2)

In [55]:
df3

    name  age
0   test   20
1  test2   30
2  test3   40

#### DataFrame에 있는 필터 기능
- 데이터프레임명.loc [ 인덱스의 조건, 컬럼의 조건 ]
    - 인덱스 값을 기준으로 데이터프레임을 필터링
    - 컬럼 값을 기준으로 데이터프레임을 필터링
- 데이터프레임명.iloc [ 인덱스의 조건, 컬럼의 조건 ]
    - 인덱스 위치를 기준으로 데이터프레임을 필터링
    - 컬럼 위치를 기준으로 데이터프레임을 필터링

In [56]:
# df3에서 나이가 30인 데이터를 출력
# 2차원 데이터에서 단일 데이터 출력 -> 차원 축소가 2번
# loc 조건 -> index는 1이라는 조건, columns는 age라는 조건
df3

    name  age
0   test   20
1  test2   30
2  test3   40

In [57]:
df3.loc[[1],["age"]]

   age
1   30

In [58]:
# 특정 컬럼의 데이터만 출력
# 데이터프레임명[컬럼명]
df3["age"]

0    20
1    30
2    40
Name: age, dtype: int64

In [59]:
# 데이터프레임명.loc[]
# 인덱스의 조건 -> : 전체
# 컬럼의 조건 -> "age"
df3.loc[ : , "age"]

0    20
1    30
2    40
Name: age, dtype: int64

In [60]:
# iloc[]
# 인덱스의 조건 -> : 전체
# 컬럼의 조건 -> 두 번째 컬럼
df3.iloc[ : , 1]

0    20
1    30
2    40
Name: age, dtype: int64

In [61]:
# loc를 사용하여 컬럼은 전체, 인덱스의 조건으로 필터링
df3.loc[2]

name    test3
age        40
Name: 2, dtype: object

In [62]:
df3

    name  age
0   test   20
1  test2   30
2  test3   40

In [63]:
df3.iloc[2]

name    test3
age        40
Name: 2, dtype: object

In [67]:
# 나이가 30살 이상인 데이터를 모두 확인
# 인덱스의 조건식: age가 30 이상
# 컬럼의 조건식: 전체
# df3에 있는 age 컬럼의 데이터를 추출하여 30 이상인 데이터를 확인
flag=df3["age"]>=30
df3.loc[flag]

    name  age
1  test2   30
2  test3   40

In [68]:
flag

0    False
1     True
2     True
Name: age, dtype: bool

In [69]:
# flag 반대인 데이터 출력?
# flag의 부정 생성
# 비트 연산자 (~) -> 2진수 데이터를 역으로 변경
# True -> 1, False ->0
~flag

0     True
1    False
2    False
Name: age, dtype: bool

In [70]:
df3.loc[~flag]

   name  age
0  test   20

#### 결측치
- 데이터프레임에서 values가 존재하지 않는 경우
- NaN으로 표시
- 결측치자 발생하는 이유
    - 데이터를 받아오는 과정에서 통신상 에러
    - 데이터를 입력하는 과정에서 에러
    - 수집 중단된 데이터

In [71]:
import numpy as np

In [80]:
data1={
    "A":[1,2,3,4,np.nan],
    "B":[1,2,np.nan,4,5],
    "C":[np.nan,2,3,4,5]
}
df4=pd.DataFrame(data1)

In [81]:
df4

     A    B    C
0  1.0  1.0  NaN
1  2.0  2.0  2.0
2  3.0  NaN  3.0
3  4.0  4.0  4.0
4  NaN  5.0  5.0

In [82]:
np.nan==np.nan

False

In [83]:
# 데이터프레임에 결측치가 존재하는가?
# case1 데이터프레임의 정보(info)를 확인
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      float64
 1   B       4 non-null      float64
 2   C       4 non-null      float64
dtypes: float64(3)
memory usage: 252.0 bytes

In [85]:
# case2 결측치와 같은가? 비교연산자
# np.nan == np.nan -> False (사용 불가)
# is__함수: 존재의 여부를 판단하는 함수
# 결측치 키워드: na
# isna(): 결측치의 존재 여부를 판단하는 함수
df4.isna()

       A      B      C
0  False  False   True
1  False  False  False
2  False   True  False
3  False  False  False
4   True  False  False

In [101]:
# 결측치의 개수 확인
# sum(): 합계를 구하는 함수
# 매개변수 axis: 인덱스를 기준, 컬럼을 기준
df4.isna().sum(axis=1)

0    1
1    0
2    1
3    0
4    1
dtype: int64

In [99]:
# 결측치를 포함한 데이터를 필터링
flag_null=df4.isna().any(axis=1)
df4.loc[flag_null]

     A    B    C
0  1.0  1.0  NaN
2  3.0  NaN  3.0
4  NaN  5.0  5.0

In [93]:
# 결측치를 포함하지 않은 데이터를 필터링
df4.loc[~flag_null]

     A    B    C
1  2.0  2.0  2.0
3  4.0  4.0  4.0

In [105]:
# 결측치 제거
# 제거 키워드(drop) + 결측치(na): dropna()
# axis 매개변수: 결측치자 포함된 행("rows"|0)을 지울 것인가? 열("columns"|1)을 지울 것인가?
df4.dropna(axis=0)

     A    B    C
1  2.0  2.0  2.0
3  4.0  4.0  4.0

In [106]:
# 결측치를 특정 데이터로 채워주는 함수
# 채워준다 키워드(fill) + 결측치(na): fillna()
# 매개변수 method="ffill" or "bfill"
# ffill: 전 행의 데이터로 치환
# bfill: 후 행의 데이터로 치환

In [107]:
df4.fillna(10)

      A     B     C
0   1.0   1.0  10.0
1   2.0   2.0   2.0
2   3.0  10.0   3.0
3   4.0   4.0   4.0
4  10.0   5.0   5.0

In [110]:
df4.fillna(method="ffill")

C:\Users\dong_\AppData\Local\Temp\ipykernel_3748\1869678084.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df4.fillna(method="ffill")

     A    B    C
0  1.0  1.0  NaN
1  2.0  2.0  2.0
2  3.0  2.0  3.0
3  4.0  4.0  4.0
4  4.0  5.0  5.0

In [111]:
df4.fillna(method="bfill")

C:\Users\dong_\AppData\Local\Temp\ipykernel_3748\1102149137.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df4.fillna(method="bfill")

     A    B    C
0  1.0  1.0  2.0
1  2.0  2.0  2.0
2  3.0  4.0  3.0
3  4.0  4.0  4.0
4  NaN  5.0  5.0

#### pandas를 이용하여 외부의 파일을 로드
- 엑셀파일
    - read_excel()
        - xls, xlsx 확장자로 이루어진 파일들을 로드할 때 사용하는 함수
        - 추가적으로 "openpyx1" 라이브러리 설치가 필요한 경우 존재
- 그외 데이터 파일
    - read_csv()
        - csv, tsv 확장자로 이루어진 파일
    - read_json()
        - json 확장자로 이루어진 파일
    - read_xml()
        - xml 확장자로 이루어진 파일
    - 공통적으로 encoding 매개변수가 존재 한다.
        - read_excel에는 해당 매개변수가 존재하지 않는다.
        - 기본값(UTF-8)
        - CP949, EUC-KR: 파일 내에 한글로 이루어진 데이터가 존재하여 encoding 에러가 발생하는 경우 변경

#### 파일의 경로
- 절대 경로
    - 절대적인 주소값
    - 환경이 변하더라도(컴퓨터가 변경되었을 때) 언제나 같은 위치를 지정
    - ex) 'c:users/admin/document/a.csv', 'https://www.google.com'
- 상대 경로
    - 상대적인 주소값
    - 환경이 변할 때 주소도 같이 변경
    - ./ 현재 작업중인 디렉토리
    - ../ 상위 디렉토리로 이동
    - 디렉토리명/ 하위 디렉토리로 이동
    - ex) 상위 디렉토리로 이동(../) -> csv 하위 디렉토리로 이동(csv/) -> 2014.csv:../csv/2014.csv

In [112]:
# csv 폴더에 있는 corona.csv 파일을 로드
# 절대경로
corona=pd.read_csv(r'C:\Python_SR\csv\corona.csv')

In [116]:
# 상대경로
# 현재 작업 위치를 기준으로, csv 하위 디렉토리로 이동, corona.csv
corona2=pd.read_csv('csv/corona.csv')

In [119]:
# 상위의 데이터 n개를 확인 
corona.head(2)

,Unnamed: 0,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN

In [118]:
corona2.head(2)

,Unnamed: 0,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN

In [122]:
# 하위의 데이터 n개를 확인
corona.tail(3)

,Unnamed: 0,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
817,817,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
818,818,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
819,819,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308

In [123]:
# 데이터프레임의 정보를 확인
corona.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 820 entries, 0 to 819
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  820 non-null    int64
 1   createDt    820 non-null    object
 2   deathCnt    820 non-null    int64
 3   decideCnt   820 non-null    int64
 4   seq         820 non-null    int64
 5   stateDt     820 non-null    int64
 6   stateTime   820 non-null    object
 7   updateDt    817 non-null    object
 8   accExamCnt  692 non-null    float64
 9   accDefRate  623 non-null    float64
dtypes: float64(2), int64(5), object(3)
memory usage: 64.2+ KB

In [124]:
# 통계적인 요약 정보를 출력하는 함수
corona.describe()

,Unnamed: 0,deathCnt,decideCnt,seq,stateDt,accExamCnt,accDefRate
count,820.000000,820.000000,8.200000e+02,820.000000,8.200000e+02,6.920000e+02,623.000000
mean,409.500000,3927.832927,1.913097e+06,472.393902,2.020897e+07,7.545057e+06,1.556435
std,236.857904,6164.310693,4.857030e+06,249.701095,7.118265e+03,6.172020e+06,0.543014
min,0.000000,54.000000,7.513000e+03,51.000000,2.020031e+07,2.101440e+05,0.902205
25%,204.750000,415.750000,2.393525e+04,256.750000,2.020100e+07,1.934309e+06,1.078089
50%,409.500000,1812.500000,1.185640e+05,461.500000,2.021042e+07,6.368310e+06,1.416159
75%,614.250000,3120.500000,3.979915e+05,698.250000,2.021112e+07,1.216890e+07,1.816009
max,819.000000,24305.000000,1.818820e+07,904.000000,2.022061e+07,2.151807e+07,3.919308

In [125]:
corona

,Unnamed: 0,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,4,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
815,815,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
816,816,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
817,817,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
818,818,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
819,819,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308

In [129]:
# 컬럼을 제거 (Unnamed: 0, seq)
# 제거 키워드: drop
# drop(): 특정한 컬럼이나 인덱스를 제거할 때 사용
# axis 매개변수
corona.drop(["Unnamed: 0", "seq"], axis=1)
# 제거 실행 후 저장되지 않은 상태

,createDt,deathCnt,decideCnt,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
...,...,...,...,...,...,...,...,...
815,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
816,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
817,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
818,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
819,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308

In [130]:
# 결과를 저장: inplace=True
corona.drop(["Unnamed: 0", "seq"], axis=1, inplace=True)

In [131]:
corona.head(1)

,createDt,deathCnt,decideCnt,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN

In [132]:
# 컬럼의 이름을 변경
corona.columns=["등록일시","총사망자","총확진자","기준일","기준시간","수정일시","누적확진자","누적확진율"]

In [133]:
corona.head(1)

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적확진자,누적확진율
0,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN

In [134]:
# 특정 컬럼의 이름을 변경 후 저장
corona.rename(
    {
        "누적확진자":"누적의심자"
    }, axis=1, inplace=True
)

In [135]:
corona.head(1)

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
0,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN

In [140]:
# 결측치의 개수를 확인
corona.isna().sum()

등록일시       0
총사망자       0
총확진자       0
기준일        0
기준시간       0
수정일시       3
누적의심자    128
누적확진율    197
dtype: int64

In [141]:
# 누적확진율 데이터에서 결측치인 데이터만 출력
# corona 데이터에서 누적확진율 데이터만 출력
flag_null=corona["누적확진율"].isna()
corona.loc[flag_null]

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
0,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
...,...,...,...,...,...,...,...,...
192,2021-11-28 08:58:53.394,3548,440884,20211128,00:00,2021-12-02 09:06:50.152,17158535.0,NaN
193,2021-11-27 09:32:36.026,3492,436959,20211127,00:00,2021-12-02 09:06:37.327,17115754.0,NaN
194,2021-11-26 09:03:03.973,3440,432892,20211126,00:00,2021-12-02 09:06:24.138,17056003.0,NaN
195,2021-11-25 09:00:47.897,3401,428996,20211125,00:00,2021-12-02 09:06:12.94,16998733.0,NaN
196,2021-11-24 09:08:22.071,3362,425059,20211124,00:00,2021-12-02 09:06:01.826,16939923.0,NaN

In [143]:
# 특정 컬럼의 데이터를 기준으로 오름차순 정렬
# 차순정렬 키워드(sort) + 데이터(values): sort_values(기준이 되는 컬럼)
# ascending 매개변수: 차순정렬 방법 기본값(True) 오름차순 정렬
corona.sort_values(["등록일시"], inplace=True)

In [144]:
corona.head()

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
819,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308
818,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
817,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
816,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
815,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000

In [149]:
# corona에서 인덱스의 값들을 재지정(초기화)
# 초기화 키워드(reset) + 인덱스(index): reset_index()
# drop 매개변수: 기본값 False, 기존의 인덱스를 제거할 것인가? True로 변경
corona.reset_index(drop=True, inplace=True)
# corona.reset_index().drop("index", axis=1) 같은 의미

In [150]:
corona.head()

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
2,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
3,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
4,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000

In [151]:
# 상기 corona 기준, 총 사망자에서 60이라는 데이터만 출력하려면?
corona.loc[1,"총사망자"]

np.int64(60)

In [155]:
# 3월 11일의 일일사망자를 구하는 방법
corona.loc[1,"총사망자"]-corona.loc[0,"총사망자"]

np.int64(6)

In [154]:
corona.tail(1)

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
819,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN

In [158]:
# 일일사망자 확인하기: 위 코드를 819번 반복실행하기 위해서 for문 이용
# for문을 이용하여 나온 결과 값을 1차원 데이터(list)에 저장 -> 딕셔너리도 가능, 튜플 불가(수정x)
# daily=[] 리스트를 생성, 3월 10일 값 0을 임의로 넣고, 이후 값을 추가한다.
daily=[0]

for i in range(1,len(corona)):
    result=corona.loc[i,"총사망자"]-corona.loc[i-1,"총사망자"]
    daily.append(result)

print(daily)

[0, np.int64(6), np.int64(6), np.int64(1), np.int64(5), np.int64(3), np.int64(0), np.int64(6), np.int64(3), np.int64(7), np.int64(3), np.int64(8), np.int64(2), np.int64(7), np.int64(9), np.int64(6), np.int64(5), np.int64(8), np.int64(5), np.int64(8), np.int64(6), np.int64(4), np.int64(3), np.int64(4), np.int64(5), np.int64(3), np.int64(6), np.int64(3), np.int64(6), np.int64(8), np.int64(4), np.int64(4), np.int64(3), np.int64(3), np.int64(3), np.int64(5), np.int64(3), np.int64(4), np.int64(1), np.int64(2), np.int64(2), np.int64(2), np.int64(1), np.int64(1), np.int64(2), np.int64(0), np.int64(0), np.int64(2), np.int64(1), np.int64(1), np.int64(2), np.int64(1), np.int64(1), np.int64(2), np.int64(0), np.int64(2), np.int64(2), np.int64(1), np.int64(1), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(2), np.int64(1), np.int64(1), np.int64(2), np.int64(0), np.int64(1), np.int64(0), np.int64(0), np.int64(1), np.int64(0), np.int64(2), np.int64(0), np.int64(1), np.int64(2), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(1), np.int64(1), np.int64(1), np.int64(1), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(1), np.int64(2), np.int64(0), np.int64(1), np.int64(0), np.int64(0), np.int64(0), np.int64(1), np.int64(1), np.int64(1), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(1), np.int64(0), np.int64(1), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(1), np.int64(0), np.int64(1), np.int64(1), np.int64(0), np.int64(2), np.int64(1), np.int64(0), np.int64(1), np.int64(0), np.int64(0), np.int64(0), np.int64(2), np.int64(2), np.int64(1), np.int64(1), np.int64(1), np.int64(0), np.int64(1), np.int64(0), np.int64(1), np.int64(0), np.int64(0), np.int64(1), np.int64(1), np.int64(0), np.int64(0), np.int64(1), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(1), np.int64(0), np.int64(1), np.int64(1), np.int64(1), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(0), np.int64(1), np.int64(0), np.int64(1), np.int64(2), np.int64(0), np.int64(0), np.int64(0), np.int64(1), np.int64(2), np.int64(1), np.int64(3), np.int64(5), np.int64(2), np.int64(1), np.int64(0), np.int64(2), np.int64(3), np.int64(2), np.int64(2), np.int64(1), np.int64(2), np.int64(5), np.int64(3), np.int64(2), np.int64(4), np.int64(5), np.int64(3), np.int64(5), np.int64(4), np.int64(0), np.int64(5), np.int64(5), np.int64(1), np.int64(5), np.int64(2), np.int64(3), np.int64(0), np.int64(5), np.int64(2), np.int64(4), np.int64(2), np.int64(5), np.int64(1), np.int64(6), np.int64(2), np.int64(1), np.int64(4), np.int64(1), np.int64(1), np.int64(0), np.int64(3), np.int64(2), np.int64(1), np.int64(2), np.int64(2), np.int64(1), np.int64(1), np.int64(4), np.int64(1), np.int64(2), np.int64(2), np.int64(1), np.int64(0), np.int64(3), np.int64(3), np.int64(3), np.int64(2), np.int64(2), np.int64(0), np.int64(0), np.int64(3), np.int64(1), np.int64(1), np.int64(1), np.int64(1), np.int64(2), np.int64(2), np.int64(4), np.int64(2), np.int64(1), np.int64(1), np.int64(1), np.int64(1), np.int64(2), np.int64(5), np.int64(2), np.int64(0), np.int64(1), np.int64(4), np.int64(1), np.int64(1), np.int64(0), np.int64(2), np.int64(2), np.int64(3), np.int64(2), np.int64(2), np.int64(4), np.int64(1), np.int64(3), np.int64(2), np.int64(1), np.int64(6), np.int64(1), np.int64(3), np.int64(0), np.int64(0), np.int64(3), np.int64(7), np.int64(4), np.int64(5), np.int64(4), np.int64(3), np.int64(4), np.int64(8), np.int64(8), np.int64(6), np.int64(2), np.int64(7), np.int64(13), np.int64(12), np.int64(22), np.int64(11), np.int64(14), np.int64(15), np.int64(24), np.int64(24), np.int64(17), np.int64(17), np.int64(17), np.int64(20), np.int64(15), np.int64(11), np.int64(40), np.int64(20), np.int64(21), np.int64(17), np.int64(25), np.int64(20), np.int64(19), np.int64(26), np.int64(20), np.int64(19), np.int64(35), np.int64(19), np.int64(25), np.int64(15), np.int64(25), np.int64(20), np.int64(10), np.int64(22), np.int64(19), np.int64(13), np.int64(15), np.int64(19), np.int64(17), np.int64(16), np.int64(12), np.int64(9), np.int64(12), np.int64(11), np.int64(11), np.int64(7), np.int64(8), np.int64(13), np.int64(15), np.int64(6), np.int64(5), np.int64(10), np.int64(6), np.int64(7), np.int64(11), np.int64(5), np.int64(7), np.int64(3), np.int64(8), np.int64(4), np.int64(10), np.int64(11), np.int64(7), np.int64(8), np.int64(5), np.int64(7), np.int64(4), np.int64(6), np.int64(6), np.int64(3), np.int64(4), np.int64(5), np.int64(11), np.int64(3), np.int64(5), np.int64(4), np.int64(10), np.int64(8), np.int64(2), np.int64(1), np.int64(6), np.int64(7), np.int64(8), np.int64(5), np.int64(2), np.int64(8), np.int64(3), np.int64(3), np.int64(4), np.int64(10), np.int64(5), np.int64(2), np.int64(6), np.int64(3), np.int64(8), np.int64(2), np.int64(2), np.int64(3), np.int64(3), np.int64(1), np.int64(7), np.int64(3), np.int64(2), np.int64(7), np.int64(5), np.int64(1), np.int64(4), np.int64(3), np.int64(2), np.int64(4), np.int64(2), np.int64(3), np.int64(4), np.int64(4), np.int64(4), np.int64(4), np.int64(2), np.int64(6), np.int64(1), np.int64(3), np.int64(2), np.int64(5), np.int64(7), np.int64(6), np.int64(2), np.int64(4), np.int64(3), np.int64(4), np.int64(1), np.int64(4), np.int64(2), np.int64(3), np.int64(1), np.int64(1), np.int64(4), np.int64(3), np.int64(1), np.int64(4), np.int64(3), np.int64(3), np.int64(2), np.int64(1), np.int64(6), np.int64(7), np.int64(4), np.int64(9), np.int64(5), np.int64(9), np.int64(1), np.int64(4), np.int64(5), np.int64(7), np.int64(2), np.int64(3), np.int64(4), np.int64(3), np.int64(1), np.int64(8), np.int64(4), np.int64(6), np.int64(4), np.int64(5), np.int64(3), np.int64(4), np.int64(2), np.int64(3), np.int64(3), np.int64(5), np.int64(8), np.int64(-2), np.int64(6), np.int64(2), np.int64(3), np.int64(1), np.int64(2), np.int64(2), np.int64(1), np.int64(1), np.int64(2), np.int64(2), np.int64(2), np.int64(1), np.int64(3), np.int64(3), np.int64(4), np.int64(1), np.int64(1), np.int64(2), np.int64(1), np.int64(5), np.int64(2), np.int64(2), np.int64(1), np.int64(1), np.int64(1), np.int64(3), np.int64(1), np.int64(2), np.int64(2), np.int64(1), np.int64(3), np.int64(3), np.int64(1), np.int64(1), np.int64(2), np.int64(4), np.int64(1), np.int64(1), np.int64(2), np.int64(2), np.int64(5), np.int64(1), np.int64(2), np.int64(2), np.int64(2), np.int64(1), np.int64(4), np.int64(2), np.int64(1), np.int64(1), np.int64(1), np.int64(3), np.int64(3), np.int64(2), np.int64(5), np.int64(4), np.int64(2), np.int64(4), np.int64(2), np.int64(4), np.int64(6), np.int64(3), np.int64(1), np.int64(5), np.int64(2), np.int64(3), np.int64(4), np.int64(3), np.int64(5), np.int64(4), np.int64(9), np.int64(1), np.int64(3), np.int64(6), np.int64(4), np.int64(8), np.int64(11), np.int64(6), np.int64(5), np.int64(13), np.int64(6), np.int64(5), np.int64(13), np.int64(7), np.int64(6), np.int64(9), np.int64(20), np.int64(8), np.int64(11), np.int64(3), np.int64(5), np.int64(1), np.int64(7), np.int64(11), np.int64(5), np.int64(7), np.int64(6), np.int64(6), np.int64(3), np.int64(4), np.int64(9), np.int64(5), np.int64(10), np.int64(1), np.int64(1), np.int64(7), np.int64(13), np.int64(6), np.int64(3), np.int64(5), np.int64(9), np.int64(6), np.int64(4), np.int64(6), np.int64(8), np.int64(7), np.int64(7), np.int64(9), np.int64(6), np.int64(8), np.int64(10), np.int64(7), np.int64(16), np.int64(7), np.int64(3), np.int64(6), np.int64(11), np.int64(12), np.int64(8), np.int64(10), np.int64(6), np.int64(15), np.int64(8), np.int64(11), np.int64(11), np.int64(13), np.int64(8), np.int64(18), np.int64(16), np.int64(8), np.int64(21), np.int64(9), np.int64(11), np.int64(16), np.int64(20), np.int64(21), np.int64(7), np.int64(15), np.int64(9), np.int64(11), np.int64(9), np.int64(13), np.int64(19), np.int64(9), np.int64(16), np.int64(18), np.int64(24), np.int64(20), np.int64(20), np.int64(11), np.int64(13), np.int64(18), np.int64(14), np.int64(21), np.int64(18), np.int64(32), np.int64(20), np.int64(12), np.int64(22), np.int64(21), np.int64(29), np.int64(28), np.int64(29), np.int64(30), np.int64(24), np.int64(30), np.int64(34), np.int64(39), np.int64(39), np.int64(52), np.int64(56), np.int64(32), np.int64(44), np.int64(34), np.int64(47), np.int64(34), np.int64(70), np.int64(43), np.int64(41), np.int64(64), np.int64(63), np.int64(57), np.int64(53), np.int64(80), np.int64(42), np.int64(40), np.int64(94), np.int64(70), np.int64(62), np.int64(73), np.int64(53), np.int64(78), np.int64(54), np.int64(52), np.int64(78), np.int64(109), np.int64(56), np.int64(105), np.int64(69), np.int64(55), np.int64(46), np.int64(36), np.int64(73), np.int64(108), np.int64(62), np.int64(69), np.int64(36), np.int64(51), np.int64(57), np.int64(49), np.int64(45), np.int64(54), np.int64(51), np.int64(34), np.int64(43), np.int64(52), np.int64(44), np.int64(49), np.int64(22), np.int64(29), np.int64(23), np.int64(45), np.int64(74), np.int64(28), np.int64(21), np.int64(28), np.int64(11), np.int64(25), np.int64(23), np.int64(32), np.int64(34), np.int64(24), np.int64(34), np.int64(20), np.int64(23), np.int64(17), np.int64(15), np.int64(25), np.int64(24), np.int64(22), np.int64(15), np.int64(13), np.int64(36), np.int64(21), np.int64(20), np.int64(49), np.int64(33), np.int64(36), np.int64(21), np.int64(61), np.int64(39), np.int64(36), np.int64(45), np.int64(71), np.int64(51), np.int64(45), np.int64(58), np.int64(99), np.int64(82), np.int64(94), np.int64(112), np.int64(49), np.int64(114), np.int64(112), np.int64(96), np.int64(128), np.int64(186), np.int64(216), np.int64(161), np.int64(139), np.int64(186), np.int64(158), np.int64(206), np.int64(229), np.int64(269), np.int64(251), np.int64(200), np.int64(293), np.int64(164), np.int64(429), np.int64(301), np.int64(319), np.int64(327), np.int64(329), np.int64(384), np.int64(291), np.int64(469), np.int64(393), np.int64(323), np.int64(282), np.int64(287), np.int64(237), np.int64(432), np.int64(375), np.int64(360), np.int64(339), np.int64(306), np.int64(218), np.int64(209), np.int64(371), np.int64(348), np.int64(373), np.int64(338), np.int64(329), np.int64(258), np.int64(171), np.int64(184), np.int64(318), np.int64(264), np.int64(273), np.int64(203), np.int64(132), np.int64(130), np.int64(166), np.int64(147), np.int64(206), np.int64(151), np.int64(109), np.int64(110), np.int64(82), np.int64(141), np.int64(122), np.int64(136), np.int64(70), np.int64(81), np.int64(83), np.int64(49), np.int64(72), np.int64(79), np.int64(48), np.int64(83), np.int64(71), np.int64(40), np.int64(62), np.int64(29), np.int64(63), np.int64(52), np.int64(55), np.int64(48), np.int64(35), np.int64(27), np.int64(31), np.int64(40), np.int64(43), np.int64(26), np.int64(54), np.int64(22), np.int64(19), np.int64(23), np.int64(34), np.int64(40), np.int64(36), np.int64(19), np.int64(9), np.int64(9), np.int64(21), np.int64(15), np.int64(17), np.int64(9), np.int64(20), np.int64(21), np.int64(20), np.int64(6)]

In [159]:
# 1차원 리스트 데이터를 데이터프레임에 대입
# 파생변수를 생성 -> 새로운 컬럼 추가
corona["일일사망자"]=daily

In [161]:
corona.head()

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,6
2,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,6
3,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499,1
4,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000,5

In [163]:
corona.tail()

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자
815,2022-06-04 08:56:49.219,24238,18153814,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN,9
816,2022-06-05 08:53:19.426,24258,18163648,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN,20
817,2022-06-06 09:00:06.734,24279,18168670,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN,21
818,2022-06-07 09:09:00.897,24299,18174842,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN,20
819,2022-06-08 09:09:05.982,24305,18188200,20220608,00:00,NaN,NaN,NaN,6

In [164]:
# shift() 함수를 이용하여 일일사망자 구하기
# shift(n): n만큼 인덱스를 이동시키는 함수 -> 전 행의 데이터 사이 차이값

corona["총사망자"]-corona["총사망자"].shift(1)

0       NaN
1       6.0
2       6.0
3       1.0
4       5.0
       ...
815     9.0
816    20.0
817    21.0
818    20.0
819     6.0
Name: 총사망자, Length: 820, dtype: float64

In [165]:
corona["일일사망자2"]=(corona["총사망자"]-corona["총사망자"].shift(1)).fillna(0)
# shift()를 이용한 값을 2에 넣어주고, 첫번째 결측치는 0으로 채운다.
# shift를 먼저 실행한 후 결측치를 채우기 위하여 ()로 묶어준 뒤 fillna(0) 표기

In [166]:
corona.head()

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자,일일사망자2
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0,0.0
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,6,6.0
2,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,6,6.0
3,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499,1,1.0
4,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000,5,5.0

In [167]:
corona["일일사망자3"]=corona["총사망자"].diff(1).fillna(0)
# diff() 전 행의 데이터 사이 차이값

In [168]:
corona.head()

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자,일일사망자2,일일사망자3
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0,0.0,0.0
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,6,6.0,6.0
2,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,6,6.0,6.0
3,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499,1,1.0,1.0
4,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000,5,5.0,5.0

In [169]:
corona.describe()

,총사망자,총확진자,기준일,누적의심자,누적확진율,일일사망자,일일사망자2,일일사망자3
count,820.000000,8.200000e+02,8.200000e+02,6.920000e+02,623.000000,820.000000,820.000000,820.000000
mean,3927.832927,1.913097e+06,2.020897e+07,7.545057e+06,1.556435,29.574390,29.574390,29.574390
std,6164.310693,4.857030e+06,7.118265e+03,6.172020e+06,0.543014,68.530863,68.530863,68.530863
min,54.000000,7.513000e+03,2.020031e+07,2.101440e+05,0.902205,-2.000000,-2.000000,-2.000000
25%,415.750000,2.393525e+04,2.020100e+07,1.934309e+06,1.078089,2.000000,2.000000,2.000000
50%,1812.500000,1.185640e+05,2.021042e+07,6.368310e+06,1.416159,5.000000,5.000000,5.000000
75%,3120.500000,3.979915e+05,2.021112e+07,1.216890e+07,1.816009,20.000000,20.000000,20.000000
max,24305.000000,1.818820e+07,2.022061e+07,2.151807e+07,3.919308,469.000000,469.000000,469.000000

In [170]:
# 일일사망자에 음수 데이터가 존재한다?
# 일일사망자가 음수인 데이터 확인
# 인덱스 조건: 일일사망자가 음수인
flag=corona["일일사망자"] < 0
corona.loc[flag]

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자,일일사망자2,일일사망자3
446,2021-05-30 00:00:00.000,1957,139907,20210530,00:00,2021-10-07 10:30:51.51,9747612.0,1.454166,-2,-2.0,-2.0

In [172]:
# 음수인 데이터는 인덱스가 446번임을 확인
# 인덱스 444부터 448까지의 데이터를 출력
corona.loc[444:448]

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자,일일사망자2,일일사망자3
444,2021-05-29 00:00:00.000,1951,139427,20210529,00:00,2021-10-07 10:30:51.51,9733588.0,1.450884,5,5.0,5.0
445,2021-05-30 00:00:00.0,1959,140337,20210531,00:00,2021-10-14 13:48:56.821,9761156.0,1.456805,8,8.0,8.0
446,2021-05-30 00:00:00.000,1957,139907,20210530,00:00,2021-10-07 10:30:51.51,9747612.0,1.454166,-2,-2.0,-2.0
447,2021-06-01 00:00:00.000,1963,140796,20210601,00:00,2021-10-07 10:30:51.51,9798400.0,1.455890,6,6.0,6.0
448,2021-06-02 00:00:00.000,1965,141473,20210602,00:00,2021-10-07 10:30:51.51,9834348.0,1.457668,2,2.0,2.0

In [173]:
# 인덱스 445의 등록일시가 잘못되어 있다.
# 2021-05-30 00:00:00.0 데이터를 2021-05-31 00:00:00.000으로 변경
corona.loc[445, "등록일시"]="2021-05-31 00:00:00.000"

In [174]:
corona.loc[444:448]

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자,일일사망자2,일일사망자3
444,2021-05-29 00:00:00.000,1951,139427,20210529,00:00,2021-10-07 10:30:51.51,9733588.0,1.450884,5,5.0,5.0
445,2021-05-31 00:00:00.000,1959,140337,20210531,00:00,2021-10-14 13:48:56.821,9761156.0,1.456805,8,8.0,8.0
446,2021-05-30 00:00:00.000,1957,139907,20210530,00:00,2021-10-07 10:30:51.51,9747612.0,1.454166,-2,-2.0,-2.0
447,2021-06-01 00:00:00.000,1963,140796,20210601,00:00,2021-10-07 10:30:51.51,9798400.0,1.455890,6,6.0,6.0
448,2021-06-02 00:00:00.000,1965,141473,20210602,00:00,2021-10-07 10:30:51.51,9834348.0,1.457668,2,2.0,2.0

#### 복습
1. 등록일시를 기준으로 오름차순 정렬
2. 인덱스를 초기화하고 기존의 인덱스는 제거
3. 일일사망자, 일일사망자2, 일일사망자3 컬럼을 제거
4. 일일사망자 컬럼을 새로 생성하고 shift() 함수를 이용하여 총사망자 데이터 전 행의 데이터와 차이값을 대입 (결측치는 0으로 대체)
5. 일일확진자 컬럼을 새로 생성하고 diff() 함수를 이용하여 총확진자 데이터 전 행의 데이터와 차이값을 대입 (결측치는 0으로 대체)
6. 일일사망자와 일일확진자에 음수의 데이터가 존재하는가 확인

In [178]:
corona.sort_values(["등록일시"], inplace=True)

In [181]:
corona.reset_index(drop=True, inplace=True)

In [185]:
corona.drop(["일일사망자", "일일사망자2", "일일사망자3"], axis=1, inplace=True)

In [186]:
corona.head()

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
2,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
3,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
4,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000

In [187]:
corona["일일사망자"]=(corona["총사망자"]-corona["총사망자"].shift(1)).fillna(0)

In [202]:
corona["일일확진자"]=(corona["총확진자"].diff(1)).fillna(0)

In [203]:
flag=corona["일일사망자"] <0
flag2=corona["일일확진자"] <0

In [204]:
corona.loc[flag2]

Empty DataFrame
Columns: [등록일시, 총사망자, 총확진자, 기준일, 기준시간, 수정일시, 누적의심자, 누적확진율, 일일사망자, 일일확진자]
Index: []

In [205]:
corona.describe()

,총사망자,총확진자,기준일,누적의심자,누적확진율,일일사망자,일일확진자
count,820.000000,8.200000e+02,8.200000e+02,6.920000e+02,623.000000,820.000000,820.000000
mean,3927.832927,1.913097e+06,2.020897e+07,7.545057e+06,1.556435,29.574390,22171.569512
std,6164.310693,4.857030e+06,7.118265e+03,6.172020e+06,0.543014,68.530435,71013.844067
min,54.000000,7.513000e+03,2.020031e+07,2.101440e+05,0.902205,0.000000,0.000000
25%,415.750000,2.393525e+04,2.020100e+07,1.934309e+06,1.078089,2.000000,125.000000
50%,1812.500000,1.185640e+05,2.021042e+07,6.368310e+06,1.416159,5.000000,634.000000
75%,3120.500000,3.979915e+05,2.021112e+07,1.216890e+07,1.816009,20.000000,2782.750000
max,24305.000000,1.818820e+07,2.022061e+07,2.151807e+07,3.919308,469.000000,621204.000000

In [206]:
corona.head()

,등록일시,총사망자,총확진자,기준일,기준시간,수정일시,누적의심자,누적확진율,일일사망자,일일확진자
0,2020-03-10 00:00:00.000,54,7513,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308,0.0,0.0
1,2020-03-11 00:00:00.000,60,7755,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175,6.0,242.0
2,2020-03-12 00:00:00.000,66,7869,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744,6.0,114.0
3,2020-03-13 00:00:00.000,67,7979,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499,1.0,110.0
4,2020-03-14 00:00:00.000,72,8086,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000,5.0,107.0

#### 특수함수
- map()
    - 1차원 데이터 각 원소들의 변환 사용
    - python 기본 함수
        - list( map(함수명, 1차원리스트) )
    - Series 내장 함수
        - Series명.map(함수명)
- lambda 함수
    - 일반적인 함수는 함수를 선언, 함수를 호출하는 작업이 나눠져 있다.
    - 함수를 선언함과 동시에 호출

In [207]:
# python 기본 함수 map
# 일반함수 선언
def change(x):
    result=x**2
    return result

# 1차원 리스트 생성
list1=[1,2,3,4,5]

# map 함수
map(
    change,
    list1
)

In [208]:
list(
    map(
        change, list1
    )
)

[1, 4, 9, 16, 25]

In [212]:
list2=[1,2,3,4,5]

list(
    map(
        lambda x: x**2,
        list2
    )
)

[1, 4, 9, 16, 25]

In [214]:
# series에 내장된 map()함수
corona3=corona.tail(15)

In [215]:
# 일일사망자가 25명 미만이면 low, 25명 이상이면 high
# map + 일반함수

def check(x):
    if x >=25:
        result="high"
    else:
        result="low"
    return result

corona3["일일사망자"].map(check)

805     low
806    high
807    high
808    high
809     low
810     low
811     low
812     low
813     low
814     low
815     low
816     low
817     low
818     low
819     low
Name: 일일사망자, dtype: object

In [217]:
# map + labda
# if문을 한줄로 작성하는 방법: "참인 경우 데이터" if 조건식 else "거짓인 경우 데이터"
corona3["일일사망자"].map(
    lambda x: "high" if x>=25 else "low"
)

805     low
806    high
807    high
808    high
809     low
810     low
811     low
812     low
813     low
814     low
815     low
816     low
817     low
818     low
819     low
Name: 일일사망자, dtype: object