#### 시계열 데이터
- 시간 데이터를 의미
    - 년, 월, 일, 시, 분, 초, am/pm, 요일
- datetime 라이브러리를 이용한 시계열 데이터
- pandas 라이브러리를 이용한 시계열 데이터

In [1]:
# datetime 라이브러리 안에 있는 datetime 이라는 Class 호출
from datetime import datetime
import datetime as dt

In [2]:
time_dt="2024-09-18"

In [3]:
print(type(time_dt))

<class 'str'>

In [5]:
# 문자열을 시계열 데이터로 변경
# case1: datetime 라이브러리 안에 있는 datetime 호출
time1=datetime.strptime(time_dt, "%Y-%m-%d")
# case2: datemime 라이브러리를 이용하는 방법
time2=dt.datetime.strptime(time_dt, "%Y-%m-%d")

In [8]:
print(type(time1))

<class 'datetime.datetime'>

In [10]:
print(type(time2))

<class 'datetime.datetime'>

#### detetime에서 사용하는 format
- %Y: 년도 전체 표기 (2024)
- %y: 년도 축약 표기 (24)
- %m: 월 표기 (09)
- %d: 일 표기 (18)
- %B: 월을 영어로 전체 표기 (September)
- %b: 월을 영어로 축약 표기 (Sept)
- %H: 24시를 기준으로한 시 표기 (15시)
- %I: 12시를 기준으로한 시 표기 (03시)
- %p: AM/PM 표기
- %M: 분 표기
- %S: 초 표기
- %A: 요일을 영어로 전체 표기 (Wednesday)
- %a: 요일을 영어로 축약 표기 (Wed)
- %w: 요일을 숫자로 표기 (0:일, ...6:토)

In [15]:
# 시계열 데이터를문자열 데이터로 변경
time1.strftime("%y-%m-%d %a")

'24-09-18 Wed'

In [20]:
time_dt2="2024년 3월 1일"

In [21]:
# time_dt2를 시계열로 변경
datetime.strptime(time_dt2, "%Y년 %m월 %d일")

datetime.datetime(2024, 3, 1, 0, 0)

In [33]:
time_dt3="02/15/24 08:15:00"

In [34]:
datetime.strptime(time_dt3, "%m/%d/%y %H:%M:%S")
# %m이 먼저 와야 오류가 생기지 않음, %y는 소문자

datetime.datetime(2024, 2, 15, 8, 15)

In [35]:
import pandas as pd

In [36]:
corona=pd.read_csv("csv/corona.csv")
# 지금 위치를 기준으로, csv 폴도에 있는 corona.csv 파일을 읽는다.

In [37]:
corona.head()

,Unnamed: 0,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,4,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN

In [39]:
# corona의 createDt 컬럼 데이터 타입을 시계열로 변경
# 데이터 타입을 변경(to)_변경할 데이터 타입
corona["createDt"]=pd.to_datetime(corona["createDt"])

In [41]:
corona.info()
# createDt Dtype datetime 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 820 entries, 0 to 819
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  820 non-null    int64
 1   createDt    820 non-null    datetime64[ns]
 2   deathCnt    820 non-null    int64
 3   decideCnt   820 non-null    int64
 4   seq         820 non-null    int64
 5   stateDt     820 non-null    int64
 6   stateTime   820 non-null    object
 7   updateDt    817 non-null    object
 8   accExamCnt  692 non-null    float64
 9   accDefRate  623 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(5), object(2)
memory usage: 64.2+ KB