In [78]:
# 주석: 코드에 대한 설명 (실행이 되지 않는다.)
# 작성자가 아닌 다른 사람이 코드를 확인할 때 설명
# 미래의 나에게 설명

# 변수 생성
# 변수명 = 데이터
a = 10
b = "test"

In [79]:
# 변수를 호출
# print()
print(a)
print(b)

10
test

In [80]:
a

10

In [81]:
# a, b라는 변수의 데이터의 타입
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

In [82]:
# 문자열의 특징은 "", ''묶어서 데이터를 생성
c="10"

In [83]:
print(c)
print(type(c))

10
<class 'str'>

In [84]:
# Bool 이라는 데이터의 타입 : 참 / 거짓 형태의 데이터
bool_a=True
print(bool_a)
print(type(bool_a))

True
<class 'bool'>

In [85]:
# 문자열로 되어있는 데이터를 숫자로 변경
print(c)
print(type(c))
c=int(c)
print(c)
print(type(c))

10
<class 'str'>
10
<class 'int'>

In [86]:
price_item = '1,000'
# price_item 라는 변수의 데이터의 타입을 숫자로 변경
price_item = int(price_item)
# 에러 발생하는 이유 : 변경하려는 문자열의 ,는 숫자로 변경이 불가능

ValueError: invalid literal for int() with base 10: '1,000'

In [ ]:
# 숫자 데이터를 문자로 변경
c = str(c)
print(c)
print(type(c))

10
<class 'str'>

In [ ]:
# 문자형 데이터를 bool로 변경
# 문자가 존재하는 데이터를 변경
test_a= "Hello World"
print(bool(test_a))

True

In [ ]:
test_b =""
print(bool(test_b))

False

In [95]:
# 숫자형 데이터를 bool 형태로 변경
num_a = 10
num_b = 0
num_c = -10
print(bool(num_a))
print(bool(num_b))
print(bool(num_c))
# 0이 아닌 숫자는 모두 true

True
False
True

# 제목1
## 제목2
### 제목3
#### 제목4

#### 순서형 리스트
1. 항목1
1. 항목2
1. 항목3
#### 비순서형 리스트
- 항목1
- 항목2
- 항목3
#### 서브 리스트
- 항목1
    - 서브1
    - 서브2
    - 서브3

In [ ]:
# 산술연산자 : 기본적인 사칙연산
# 기본의 변수들이 변경이 되지 않는다.
a = 7
b = 3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

10
4
21
2.3333333333333335
2
1
343

In [ ]:
# 문자형 데이터에서 + 연산자를 사용
text_1 = 'Hello'
text_2 = 'World'
print(text_1+text_2)

HelloWorld

In [ ]:
# bool형 데이터에서 + 연산자를 사용
print(True+True)
print(True+False)
print(False+False)

# true는 1, False는 0으로 계산된다.

2
1
0

In [87]:
# 대입 연산자
# 산술 연산자와 대입연산자(=)이 결합된 형태
print(a+3)    # 10
print(a)      # 7
# a +=3 -> a=a+3
a+=3
print(a)

13
10
13

In [88]:
# 비교 연산자 : 두개의 데이터를 비교하여 되돌려주는 데이터는 bool 형태
a=10
b=5
# == : 두 개의 데이터가 같은가?
print(a==b)
# != : 두 개의 데이터가 다른가?
print(a!=b)
# > : 왼쪽이 더 큰가?
print(a>b)
# < : 왼쪽이 더 작은가?
print(a<b)

False
True
True
False

In [92]:
# 논리 연산자 : 두개의 논리값(참/거짓)들을 판단하는 연산자
# and : 두개의 논리값이 모두 참인 경우에 참을 출력
print(True and True)
print(True & False)
print(False & True)
print(False & False)

True
False
False
False

In [91]:
# or : 두개의 논리값중 하나라도 참이라면 참을 출력
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [94]:
# not : 부정형 참과 거짓을 반대로 출력
print(not(True))

False

#### if문
- if 조건식
    - 조건식이 참인 경우 실행할 코드를 작성
- else문
    - if 조건식이 거짓일 때 실행할 코드를 작성
(유의할 점: 실행할 코드들은 들여쓰기를 한 뒤 작성)

In [96]:
a=5
# 조건문 시작
if a < 10:
    # a가 10보다 작은 경우 실행
    print("a는 10보다 작다")

a는 10보다 작다

In [97]:
a=11
if a < 10:
    print('a는 10보다 작다')

In [98]:
if a<10:
    print('a는 10보다 작다')
else:
    print('a는 10보다 크거나 같다')

a는 10보다 크거나 같다

In [103]:
text_a='test1'

if test_a == 'test':
    print('성공')
else:
    print('실패')

실패

In [107]:
# 논리 연산자를 이용하여 조건식이 2개를 모두 만족할 때 실행할 코드 작성
input_id = input('아이디를 입력하시오')
input_pass = input('패스워드를 입력하시오')
# case1
# input_id가 test이고 input_pass가 1234인 경우 로그인 성공
if (input_id=='test') & (input_pass=='1234'):
    print('로그인 성공')
# 그외의 경우는 모두 로그인 실패
else:
    print('로그인 실패')
    
# case2
if input_id == 'test':
    if input_pass == '1234':
        print('로그인 성공')
    else:
        print('비밀번호를 확인하시오')
else:
    print('아이디를 확인하시오')

로그인 성공
로그인 성공

In [111]:
# if 조건식이 여러개인 경우
# input(): 실행할 때마다 다른 값들을 받아오기 위한 함수 -> 결과물을 문자열로 되돌려준다.
score = int(input('점수를 입력하시오'))

# score에 따른 학점을 출력하는 조건문 생성
if score >= 90:
    # 90 점이상이라면
    print('A')
elif score >= 80:
    # 90점 미만이고 80점 이상
    print('B')
elif score >= 70:
    # 80점 미만이고 70점 이상
    print('C')
else:
    # 70점 미만인 경우
    print('F')
    
if score >= 90:
    print('A')
if (score >=80)&(score<90):
    print('B')
if (score >=70)&(score<80):
    print('C')
if score < 70:
    print('F')

C
C

#### 자료형 데이터
- 튜플
    - 자료형 데이터중 가장 단순한 형태의 데이터들의 모음
    - ()를 사용하여 데이터들을 묶어준다.
    - 튜플 안에 있는 데이터들을 수정, 삭제, 추가가 불가능
- 리스트
    - []를 사용하여 데이터들을 묶어준다.
    - 튜플과는 다르게 리스트 내부에 있는 함수들을 이용하여 데이터들을 수정, 추가, 삭제가 가능
- 딕셔너리
    - {}를 사용하여 데이터들을 묶어준다.
    - 튜플과 리스트는 위치를 기준으로 데이터를 설정한다면 딕셔너리는 key값과 value를 이용하여 데이터의 위치와 데이터를 설정

In [112]:
# 튜플 데이터를 설정
tuple_a = (1, 'hello' )
tuple_b = (3, 3.14)
print(tuple_a, type(tuple_a))
print(tuple_b, type(tuple_b))

(1, 'hello') <class 'tuple'>
(3, 3.14) <class 'tuple'>

In [113]:
tuple_c=tuple_a+tuple_b
print(tuple_c)

(1, 'hello', 3, 3.14)

In [115]:
tuple_d=tuple_a*3
print(tuple_d)

(1, 'hello', 1, 'hello', 1, 'hello')

In [119]:
# 데이터의 슬라이스
# 튜플[위치] : 해당하는 위치의 데이터를 출력
# 튜플[시작위치(공백이면 처음부터): 종료위치(공백이면 마지막까지)]
# 위치는 0부터 시작
print(tuple_c[0])
# 두번째부터 네번째 위치 전까지 *** (네번째 위치가 아님)
print(tuple_c[1:3])
print(tuple_c[:])
# 위치의 값이 음수인 경우
print(tuple_c[-1])
# 마지막 2개의 데이터를 출력
print(tuple_c[-2:])

1
('hello', 3)
(1, 'hello', 3, 3.14)
3.14
(3, 3.14)

In [121]:
# tuple 데이터를 bool의 형태로 강제 변경
# false인 조건? tuple안에 원소의 개수가 0개인 경우()
tuple_x = ()
tuple_y = (1,2,3)
print(bool(tuple_x))
print(bool(tuple_y))

False
True

In [124]:
if tuple_y:
    # tuple_x에 원소가 1개 이상인 경우
    print('tuple에 데이터가 존재')
else:
    # tuple_x에 원소가 0개 이상인 경우
    print('tuple에 데이터가 존재하지 않음')

tuple에 데이터가 존재

In [125]:
# 리스트 데이터를 생성
list_a=[20,10,30,40]
list_b=[10,20,40,30]

In [127]:
# list_a에 데이터를 오름차순으로 정렬(sort()) 변경
print(list_a.sort())

None

In [128]:
print(list_a)

[10, 20, 30, 40]

In [129]:
# list_b는 역순으로 변경(reverse())
list_b.reverse()
print(list_b)

[30, 40, 20, 10]

In [130]:
list_c=[39,20,50,44]
# 내림차순 정렬로 변경 (오름차순 -> 역순으로 변경)
list_c.sort()
list_c.reverse()
print(list_c)

[50, 44, 39, 20]

In [131]:
list_c=[39,20,50,44]
# 내림차순 정렬 (sort()함수에서 내림차순 옵션 설정)
list_c.sort(reverse=True)
print(list_c)

[50, 44, 39, 20]

In [132]:
# list_a에 데이터를 추가
# append() : list에서 가장 마지막에 데이터를 추가
# insert() : list에서 내가 원하는 위체에 데이터를 추가
list_a.append(33)
print(list_a)

[10, 20, 30, 40, 33]

In [133]:
list_a.insert(2, 11)
print(list_a)
# 세번째 위치에 11을 추가 -> 세번째에 있던 30은 네번째로 밀린다.

[10, 20, 11, 30, 40, 33]

In [136]:
list_a[1]=30
print(list_a)
# 두번째 위치를 30으로 변경

[10, 30, 11, 30, 40, 33]

In [137]:
# list_a에서 데이터를 제거
# pop(): list에서 가장 마지막 데이터를 제거
# remove() : list에서 특정한 값을 제거
# del : list에서 특정 위치의 데이터를 제거
list_a.pop()
print(list_a)

[10, 30, 11, 30, 40]

In [138]:
list_a.remove(30)
print(list_a)

[10, 11, 30, 40]

In [139]:
del list_a[1]
print(list_a)

[10, 30, 40]

In [140]:
# clear() : 리스트 안에 있는 모든 데이터를 제거, but 리스트는 존재
list_a.clear()
print(list_a)

[]

In [143]:
# 리스트를 확장
# extend() : 2개의 리스트를 결합하여 하나의 리스트로 변경
list_b.extend(list_c)
print(list_b)
print(list_c)

[30, 40, 20, 10, 50, 44, 39, 20, 50, 44, 39, 20, 50, 44, 39, 20]
[50, 44, 39, 20]

In [144]:
list_c+[20,30,50]

[50, 44, 39, 20, 20, 30, 50]

In [145]:
# copy() : 리스트를 복사하여 백업데이터를 생성
list_x=[10,20,30,40]
list_y=list_x

In [148]:
print(list_x)
print(list_y)

[10, 20, 30, 40]
[10, 20, 30, 40]

In [149]:
# list_y에 데이터를 추가
list_y.append(8)
print(list_y)

[10, 20, 30, 40, 8]

In [150]:
print(list_x)

[10, 20, 30, 40, 8]

In [152]:
list_z=list_x.copy()
print(list_x)
print(list_z)

[10, 20, 30, 40, 8]
[10, 20, 30, 40, 8]

In [153]:
# list_z의 마지막 원소를 제거
list_z.pop()
print(list_z)
print(list_x)

[10, 20, 30, 40]
[10, 20, 30, 40, 8]

In [154]:
# 딕셔너리
# 사전형 데이터의 구조
# key : value의 형태로 데이터가 구성
dict_a={
    'name':'test',
    'age':20,
    'pone':'01012345678'
}
print(dict_a,type(dict_a))

{'name': 'test', 'age': 20, 'pone': '01012345678'} <class 'dict'>

In [156]:
# 특정 데이터를 출력
# 딕셔너리에서 key 값을 기준으로 출력
print(dict_a['name'])

test

In [157]:
dict_b={
    0:'test',
    1:20,
    2:'01012345678'
}

In [158]:
print(dict_b[0])

test

In [159]:
dict_c={
    'age':30,
    'name':'test2',
    'pone':'01012345678'
}

In [160]:
print(dict_a['name'])
print(dict_c['name'])

test
test2

In [162]:
# dict 데이터에 새로운 데이터를 추가
dict_a['area']='seoul'
print(dict_a)

{'name': 'test', 'age': 20, 'pone': '01012345678', 'area': 'seoul'}

In [166]:
# 기존에 있는 데이터를 변경
# 20이었던 데이터가 25로 변경 됨
dict_a['age']=25
print(dict_a)

{'name': 'test', 'age': 25, 'pone': '01012345678', 'area': 'seoul'}

#### 외부에서 데이터를 로드할 때 일반적인 데이터의 형태
- 일반적으로 데이터는 2차원 데이터
1. 리스트 안에 딕셔너리
    - [{'name':'test','age':20},{'name':'test2','age':30},]
2. 딕셔너리 안에 리스트
    - {'name':['test','test2'],'age':[20,30]}

In [168]:
# 리스트 안에 딕셔너리
data_1=[
    {
        'name':'test',
        'age':20
    },
    {
        'name':'test2',
        'age':30
    }
]
print(type(data_1))

<class 'list'>

In [170]:
# data_1에서 20이라는 데이터를 출력하려면?
# 가장 외곽의 괄호를 없애는 방법
print(data_1)
print(data_1[0])
print(data_1[0]['age'])

[{'name': 'test', 'age': 20}, {'name': 'test2', 'age': 30}]
{'name': 'test', 'age': 20}
20

In [174]:
# 딕셔너리 안에 리스트
data_2={
    'name':['test','test2'],
    'age':[20,30]
}
print(type(data_2))

<class 'dict'>

In [175]:
#data_2에서 test2를 출력하려면?
print(data_2)
print(data_2['name'])
print(data_2['name'][1])

{'name': ['test', 'test2'], 'age': [20, 30]}
['test', 'test2']
test2

#### 반복문
- for문
    - 기본형  
        - for 변수명 in range(시작값, 종료값, 증가값)
            - 변수명에 range에 있는 시작값으로 대입하여 코드를 실행하고 반복적으로 실행할 때마다 증가값만큼 값을 증가하여 변수에 대입
            - 종료값과 같거나 커진다면 반복을 종료
    - 리스트 데이터를 이용한 형태
        - for 변수명 in list
            - list에 있는 원소들 하나 하나씩 변수에 대입되어 반복 실행
    - in 연산자
        - '데이터' in [리스트데이터]
            - 데이터가 리스트데이터에 포함되어 있는가?를 확인하는 비교 연산자
            - ex) 1 in [1,2,3,4,5] -> true, 6 in [1,2,3,4,5,] -> false

In [176]:
for i in range(0,10,1):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [179]:
print(range(0,10,1))
print(tuple(range(0,10,1)))
print(tuple(range(0,10,2)))

range(0, 10)
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
(0, 2, 4, 6, 8)

In [182]:
list_a=[2,4,6,7,10]
for i in list_a:
    print(i)

2
4
6
7
10

In [185]:
for i in range (0, 5, 1):
    print(list_a[i])
for i in range (0, len(list_a), 1):
    print(list_a[i])
# 5는 길이를 의미하므로 len으로 변경 가능하다.

2
4
6
7
10
2
4
6
7
10

In [190]:
# 반복문 응용
# 리스트에서 특정한 값을 찾아서 다른 값으로 치환
list_b=[10,30,20,30,50]
# list_b에서 30이라는 데이터를 모두 15로 변경
# list_b에서 특정위치의 데이터를 변경: list_b[1]=15
for i in range(0,len(list_b),1):
    # print(i)
    # print(list_b[i])
    if list_b[i]==30:
        list_b[i]=15
print(list_b)

[10, 15, 20, 15, 50]

In [191]:
list_b.count(15)

2

In [192]:
list_b.index(15)

1

In [196]:
# count()와 index()를 이용하여 list_b에 15라는 데이터를 30으로 변경
# count() 개수만큼 반복실행
for i in range(0, list_b.count(15),1):
    print(i)
    list_index = list_b.index(15)
    list_b[list_index]=30
print(list_b)

[10, 30, 20, 30, 50]

In [199]:
# index()함수의 특징을 이용하여 list에 데이터를 변경
# index() 찾는 데이터가 존재하지 않으면 에러가 발생
# 에러가 발생할 때 특정코드를 실행하는 구문 (try ~ except)
for i in range(0, len(list_b),1):
    # list_b에서 30이라는 데이터의 위치를 찾는다.(시도한다.)
    try: 
        list_index=list_b.index(30)
        list_b[list_index]=15
    # 시도하는 코드가 에러가 발생한다면?
    except: 
        # 에러가 발생한다의 의미는? -> 변경할 데이터가 존재하지 않는다.
        # 반복문을 계속 실행할 이유가 존재하지 않는다. -> 반복문을 종료
        break
print(list_b)

[10, 15, 20, 15, 50]

In [201]:
# 다중 반복문을 이용하여 구구단을 출력
# 2단부터 시작하여 1~9 곱한 값을 출력
# 2단부터 9단까지 반복 실행을 하는 반복문을 생성
for i in range(2, 10, 1):
    # 1~9 곱하는 반복문 생성
    for j in range(1, 10, 1):
        # print('%d x %d = %d' %(i,j,i*j))
        # f-string 이용
        # 문자열 앞에 f를 이용하여 문자열을 생성
        # 문자열 중간에 {변수명} 해당 변수를 문자로 이용
        print(f"{i} x {j} = {i * j }")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

#### 반복문 연습 문제
- 2개의 주사위를 굴려서 두 주사위의 합이 5의 배수인 경우를 모두 출력해라

1. 첫번째 주사위의 경우의 수 만큼 반복 실행하는 반복문을 생성 (1~6)
2. 첫번째 반복문 안에 두 번째 주사위의 경우의 수 만큼 반복 실행하는 반복문을 생성 (1~6)
3. 두 개의 주사위의 합이 5의 배수인가? 조건문 생성
4. 해당하는 조건문이 참인 경우에 두 개의 주사위의 값을 출력

In [204]:
# 첫 번째 반복문 생성
for i in range(1, 7, 1):
    # 두 번째 반복문 생성
    for j in range(1, 7, 1):
        # print(i,j,i+j)
        # 조건문 생성: 합을 5로 나눈 값이 0이거나 5 혹은 10인 값
        # if (i+j)%5==0:
        if (i+j == 5) or (i+j == 10):
            # 출력 함수를 생성(print)
            print (i,j)

1 4
2 3
3 2
4 1
4 6
5 5
6 4